@font-face {
  font-family: "MinecraftFont";
  src: url("/fonts/MinecraftRegularFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "MinecraftFont", sans-serif;
  background-image: url("/images/stone_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  /* margin-top: auto; */
  text-align: center;
  margin-bottom: 50px;
}

.minecraft-text {
  font-family: "MinecraftFont", sans-serif;
}
