@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.topbar {
  background-image: url("/images/dirt_wallpaper.webp");
  background-position: center;
  background-size: contain;
  height: 80px;

  @include flexbox(row, center, center, relative);

  .text_box {
    width: 60%;
    text-align: left;

    h1 {
      color: $color1;
      font-size: 3vw;
      margin: 0;
      padding: 0;
      letter-spacing: 5px;
      text-transform: capitalize;
      @include shadow("text", 2px 2px 10px $color4);

      @media (max-width: 768px) {
        font-size: 5vw;
      }

      @media (max-width: 576px) {
        font-size: 6vw;
      }

      @media (max-width: 400px) {
        font-size: 6vw;
      }
    }
  }
}
