@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.item-frame {
  width: 48px;
  height: 48px;
  @include flexbox(row, center, center); // Merkezleme için
  background-color: #8b8b8b; // Minecraft envanterine yakın gri
  @include shadow(box, inset -2px -2px 0px #1e1e1e); // Tek değer kullanılmalı
  @include borderRadius(0px); // Keskin köşeler
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include transition(transform 0.1s ease-in-out);
  margin: 2px; // Kutucuklar arasındaki boşluğu ayarlama

  &:hover {
    @include transform(scale(1.05));
  }
}
